.padH { padding: 0 2em; }

i.loading { 
  position: absolute; 
  top: 72px; 
  display: inline-block; 
  font-size: 13vmax; 
  width: 100%; 
  font-weight: bold; 
  font-style: normal; 
  text-align: center; 
  color: rgba(255,255,255,0.3); 
}