.background-color-chooser {
  position: absolute; 
  left: 0;
  bottom: -1.25em;
}

.background-color-chooser a {
  display: inline-block; 
  width: 1.25em; 
  height: 0.23em; 
  border-radius: 1px;
}